
<div class="header">
  <h1 id="pageTitle">The best place</h1>
  <form [formGroup]="form">

    <div class="buttonRow">
      <button mat-raised-button color="warn">Réinitialiser les filtres</button>
    </div>
    <div id="filters">
      <div class="row">
        <mat-form-field>
          <mat-label>Département</mat-label>
          <mat-select formControlName="dep" [(value)]="selected">
            <ng-container *ngFor="let d of deps">
              <mat-option value="{{d}}">{{d}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
  
      </div>
      <div class="row">
        <div class="checkbox">
          <mat-checkbox>Check me!</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <mat-checkbox>Check me!</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <mat-checkbox>Check me!</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="slider">
          <p>Hello world slider</p>
          <mat-slider min="0" max="10" step="1" value="0" thumbLabel > </mat-slider>
        </div>
      </div>

      
    </div>
    
  </form>
  <mat-paginator [length]="nbTowns"
                [pageSize]=limit
                [pageSizeOptions]=paginatorDefaultOptions
                (page)="pageEvent = dataChanged($event)">
  </mat-paginator>

</div>
<div id="resultList">
  <mat-grid-list  cols="4" rowHeight="100px">
    <mat-grid-tile
        class="tile"
        *ngFor="let city of cities"
        [colspan]="city.cols"
        [rowspan]="city.rows">
        <a [routerLink]="['/city', city._id]"><h4>{{city.nom_simple}}</h4></a>
        
    </mat-grid-tile>
  </mat-grid-list>
</div>
