<h1 id="pageTitle">The best place</h1>

<div id="filters">
  <mat-form-field>
    <mat-label>Type de région</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>Aucune</mat-option>
      <mat-option value="moutain">Montagne</mat-option>
      <mat-option value="city">Ville</mat-option>
      <mat-option value="sea">Mer</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-paginator [length]="nbTowns"
              [pageSize]=paginatorDefaultSize
              [pageSizeOptions]=paginatorDefaultOptions
              (page)="pageEvent = dataChanged($event)">
</mat-paginator>
<div id="resultList">
  <mat-grid-list  cols="4" rowHeight="100px">
    <mat-grid-tile
        class="tile"
        *ngFor="let city of cities"
        [colspan]="city.cols"
        [rowspan]="city.rows">
        <a [routerLink]="['/city', city._id]"><h4>{{city.nom_simple}}</h4></a>
        
    </mat-grid-tile>
  </mat-grid-list>
</div>
