#pageTitle{
  text-align: center;
  font-size: 4rem;
}

#resultList,#filters{
  margin: 2rem;
}

.tile{
  background-image: url('./assets/cityExample2.jpg');
  background-size: cover;
  color: white;
  font-size: 2.5rem;
}
